.App {
  padding: 20px;
  min-height: 100vh;
  background: #373737;
}

table {
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid black;
}

tr {
  background: white;
}

.GameList th,
.GameList td {
  padding: 10px;
}

.GameList tbody tr:hover {
  background: lightblue;
  cursor: pointer;
}

.GameList tbody tr.selectedGame {
  background: lightblue;
}

.Game {
  display: flex;
}

table.Moves td {
  padding: 2px;
  font-size: 14px;
}

table.Moves td.selectedMove {
  background: lightblue;
}

.player {
  color: white;
}

button:hover {
  cursor: pointer;
}
